[core]
    excludesfile = ~/.gitignore
    quotepath = false
	ignorecase = false
[include]
    path = ~/.dotfiles/.gitconfig.global
[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.dotfiles/.gitconfig.private
[color]
    ui = auto
[alias]
    st = status
    co = checkout
    ci = commit
    co = checkout
    br  = branch
    di = diff
# sourcetree
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
# delta
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Dracula
[delta "decorations"]
    commit-decoration-style = bold blue box ul
    file-style = bold green ul
    file-decoration-style = none
    hunk-header-decoration-style = blue box
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
# ghq
[ghq]
    root = ~/Workspace