[include]
	path = ~/.dotfiles/.config/git/.gitconfig.global
[includeIf "gitdir:~/.dotfiles/"]
	path = ~/.dotfiles/.config/git/.gitconfig.private
[init]
	defaultBranch = main
[core]
	# エディタの指定（コミットメッセージ編集など）
	editor = nvim
	# 改行コードの処理
	autocrlf = input
	# 日本語ファイル名の文字化け防止
	quotepath = false
	# ページャーの設定
	pager = delta
	# ファイル名の大文字小文字を区別
	ignorecase = false
	# デフォルトの.gitignoreファイル
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	df = diff
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all
[merge]
    ff = false
    conflictstyle = diff3
[pull]
    ff = only
[diff]
	colorMoved = default
[push]
	default = simple
# delta
[interactive]
    diffFilter = delta --color-only
[delta]
	side-by-side = true
    navigate = true
	line-numbers = true
	dark = true
    syntax-theme = gruvbox-dark
# ghq
[ghq]
    root = ~/Workspace
# sourcetree
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
